<tr> 

        <td style="white-space:inherit;overflow:hidden;text-overflow:ellipsis;table-layout:inherit"><%= data.ID号 %> </td>
        <td style="white-space:inherit;overflow:hidden;text-overflow:ellipsis;table-layout:inherit"><%= data.发布时间 %></td>
        <td style="white-space:inherit;overflow:hidden;text-overflow:ellipsis;table-layout:inherit"><%= data.文本 %></td>
        <td style="white-space:inherit;overflow:hidden;text-overflow:ellipsis;table-layout:inherit"><%= data.用户昵称 %></td>
        <td style="white-space:normal;overflow:hidden;text-overflow:ellipsis;table-layout:fixed"><a href="/<%= dbName %>/<%= table %>/<%= data.ID号 %>">更多...</a></td>
</tr>
