<tr> 

        <td style="white-space:inherit;overflow:hidden;text-overflow:ellipsis;table-layout:inherit"><%= data.uid %> </td>
        <td style="white-space:inherit;overflow:hidden;text-overflow:ellipsis;table-layout:inherit"><%= data.screen_name %></td>
        <td style="white-space:inherit;overflow:hidden;text-overflow:ellipsis;table-layout:inherit"><%= data.follower_userid %></td>
        <td style="white-space:inherit;overflow:hidden;text-overflow:ellipsis;table-layout:inherit"><%= data.address %></td>
        <td style="white-space:normal;overflow:hidden;text-overflow:ellipsis;table-layout:fixed"><a href="/<%= dbName %>/<%= table %>/<%= data.uid %>">更多...</a></td>
</tr>
